@page "/video_overlay.html"

<h3>VideoOverlay</h3>

<BFUPrimaryButton Text="Testing Primary" OnClick=@OnClickHandler/>
<BFUDefaultButton Text="Testing Default" />

<video id="remoteVideo"></video>
<audio id="remoteAudio"></audio>