@inherits LayoutComponentBase

<div class="sidebar" style="border-right: 1px groove">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>*@

    <div class="content px-4" style="margin:10px;">
        @Body
    </div>
</div>
