@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TwitchClicker.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>*@
    
        <BFUNavBar Header="Clicker Server" Direction="LayoutDirection.Vertical" Items=@items>

        </BFUNavBar>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<BFUNavBarItem> items;

    protected override Task OnInitializedAsync()
    {
        items = new List<BFUNavBarItem> {
            new BFUNavBarItem() {
                Text= "Home",
                Url="",
                NavMatchType= NavMatchType.RelativeLinkOnly,
                Id="home",
                IconName="Home",
                Key="1"},
            new BFUNavBarItem() {
                Text= "Counter",
                Url="counter",
                Id="counter",
                IconName="Add",
                Key="2"
            },
            new BFUNavBarItem() {Text= "Fetch Data", Url="fetchdata", NavMatchType= NavMatchType.RelativeLinkOnly, Id="test3", IconName="Remove", Key="3"}
        };
        return base.OnInitializedAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
